{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-pip.html" %}

  <div class="govuk-width-container">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                                    
                <h1 class="govuk-heading-l">Add HCP review</h1>


                                <form method="post" action="/v2/hcp-review/medical-evidence-check-answers">


                  <div id="standard-phrases-group">

            {{ govukCheckboxes({
            idPrefix: "Common-statements",
            name: "Common-statements",
            classes: "govuk-checkboxes--large",
            fieldset: {
            legend: {
            text: "Select all statements that apply and add to the clinical review and justification",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
            }
            },
         
            items: [

            {
            value: "All available evidence reviewed and considered.",
            text: "All available evidence reviewed and considered."
            },
            {
            value: "ASN noted on HAS.",
            text: "ASN noted on HAS."
            },
            {
            value: "Consent noted on HAS.",
            text: "Consent noted on HAS."
            },
            {
            value: "Appointee noted on HAS.",
            text: "Appointee noted on HAS."
            },
            {
            value: "Conditions stated are (including but not limited to):",
            text: "Conditions stated are (including but not limited to):"
            },
            {
            value: "FME request considered however no valid consent.",
            text: "FME request considered however no valid consent."
            },
            {
            value: "No further evidence requested as this is unlikely to advise on information required.",
            text: "No further evidence requested as this is unlikely to advise on information required."
            },
            {
            value: "Following a review of the available evidence, a PBR will be completed.",
            text: "Following a review of the available evidence, a PBR will be completed."
            },
            {
            value: "Following a review of the available evidence, calls will be attempted in pursuit of a PBR.",
            text: "Following a review of the available evidence, calls will be attempted in pursuit of a PBR."
            }

            ]
            }) }}

            {% from "govuk/components/details/macro.njk" import govukDetails %}


            <button type="button" class="govuk-button govuk-button--secondary" id="add-phrases-button"
              data-module="govuk-button">
              Add to clinical review
            </button>
          </div>


        

          {{ govukTextarea({
          name: "hcpreviewpip" + storedEntryAmount,
          id: "hcpreviewpip" + storedEntryAmount,
          rows: "12",
          label: {
          text: "Enter clinical review and justification",
          classes: "govuk-label--s",
          isPageHeading: false
          },
          hint: {
          text: "Include whether evidence has been reviewed, the type of FME requested, and what to do if it's not
          returned."
          }
          }) }}



          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "Isthecaseatact",
  fieldset: {
    legend: {
      text: "Is the case a TACT - take additional care?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "tact-yes",
      text: "Yes"
    },
    {
      value: "tact-no",
      text: "No"
    }
  ]
}) }}

{% if data["furthermedicalevidence"] == "paper-based-review" %}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "whowillcompleteassessment",
    fieldset: {
      legend: {
        text: "Who will complete the assessment?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "self",
        text: "I will complete it"
      },
      {
        value: "another-hcp",
        text: "Another HCP will complete it"
      }
    ]
  }) }}

{% endif %}
                                                {{ govukButton({text: "Continue" }) }}

 
            </div>

            <div class="govuk-grid-column-one-quarter">
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="" class="govuk-link">View claimant documents</a>
            </li>
            </ul>
        </nav>
      </aside>
    </div>
    
        </div>

    </main>
  </div>
  </div>

{% endblock %}
