{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-pip.html" %}

  <div class="govuk-width-container">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

  <div class="govuk-width-container {{ containerClasses }}">
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                                    
                <h1 class="govuk-heading-l">Add HCP review</h1>

               



<form method="post" action="/medical-evidence-no-outcome">


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "furthermedicalevidence",
  fieldset: {
    legend: {
      text: "What is the outcome of this review?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "SREL",
      text: "Special rules for end of life (SREL)"
    },
    {
      value: "face-to-face-assessment",
      text: "Face to face assessment (F2F)"
    },
    {
      value: "face-to-face-assessment-support",
      text: "Face to face assessment (F2F) with support"
    },
    {
      value: "paper-based-review",
      text: "Paper based review (PBR)"
    },
    {
      value: "telephone-assessment",
      text: "Telephone assessment (TA)"
    },
    {
      value: "telephone-assessment-with-support",
      text: "Telephone assessment (TA) with support"
    }
  ]
}) }}

                                                {{ govukButton({text: "Continue" }) }}


                                                </form>

 
            </div>



            <div class="govuk-grid-column-one-quarter">
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="" class="govuk-link">View claimant documents</a>
            </li>
            </ul>
        </nav>
      </aside>
    </div>

    
        </div>

    </main>
  </div>
  </div>

{% endblock %}
